# **DATA TRANSFORMATION & MERGE.**

## **Libraries.**

In [1]:
import numpy as np
import pandas as pd
import re

## **Data transformation.**

### **Import clean datasets.**

In [2]:
actors = pd.read_csv('../data/actor_clean.csv')
categories = pd.read_csv('../data/category_clean.csv')
films = pd.read_csv('../data/film_clean.csv')
inventories = pd.read_csv('../data/inventory_clean.csv')
languages = pd.read_csv('../data/language_clean.csv')
hdd = pd.read_csv('../data/old_HDD_clean.csv')
rentals = pd.read_csv('../data/rental_clean.csv')

### **Clean Old HDD dataset.**

In [3]:
hdd

    first_name last_name                  title  release_year  category_id
0     PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1     PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2     PENELOPE   GUINESS            ANGELS LIFE          2006           13
3     PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4     PENELOPE   GUINESS          CHEAPER CLYDE          2006           14
..         ...       ...                    ...           ...          ...
995     GOLDIE     BRODY      COMANCHEROS ENEMY          2006            3
996     GOLDIE     BRODY        DAISY MENAGERIE          2006           14
997     GOLDIE     BRODY        DESERT POSEIDON          2006           11
998     GOLDIE     BRODY         EVERYONE CRAFT          2006            9
999     GOLDIE     BRODY         EXORCIST STING          2006           15

[1000 rows x 5 columns]